<html>
  <head>
    <title>IFSP - Campus Pirituba</title>        
  </head>
  <body>
    <section>
      <div>
        <h1>IFSP - Campus Pirituba</h1>        
        <form action="/" method="POST">          
          <div>            
            <ul>
                <li>
                    <label for="contato-nome">Nome</label>
                    <input type="text" name="nome" id="contato-nome" required value={{contato['nome']}}/>
                </li>
              
                <br>              
                <li>
                    <label for="contato-email">E-Mail</label>
                    <input type="email" name="email" id="contato-email" required value="{{contato['email']}}"/>
                </li>
              
                <li>
                    <label for="contato-telefone">Telefone (99) 99999-9999 </label>
                    <input type="text" name="telefone" id="contato-telefone" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" required value="{{contato['telefone']}}"/>
                </li>

                <li>    
    
                  <label for="contato-assunto">Assunto</label>                   
                  <select name="assunto" id="contato-assunto" required/>
                  <option value=""> -- Selecione --</option>                                             
                
                    {% set opcoes = ['Reclamação', 'Sugestão'] %}
                    {% for opcao in opcoes %}
                    {% if opcao in contato['assunto'] %}
                    <option value="{{ contato['assunto'] }}" selected="selected">{{contato['assunto']}}          </option>
                    {% else %}
                    <option value="{{ opcao }}">{{ opcao }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>                   
                </li>

                <li>
                    <label for="contato-mensagem">Mensagem</label>
                    <textarea name="mensagem" id="contato-mensagem">{{contato['mensagem']}}</textarea>
                </li>

                <li>
                    <fieldset>
                        <legend>Opções de Resposta</legend>
                        {% set check_opcoes = ['E-mail', 'Telefone'] %}
                        {%for check_opcoes in check_opcoes %}
                          {% if check_opcoes in contato['resposta'] %}
                            <label for={{check_opcao}}>{{check_opcao}}
                              <!--<input id={{check_opcao}} type="checkbox" name="resposta" value="{{check_opcao}}" checked> -->
                              <input id="{{check_opcao}}" type="checkbox" name="resposta" value="Email" checked>
                            </label>    
                          {% else %}
                            <label for="contato-resposta-email">E-Mail
                              <input id="contato-resposta-email" type="checkbox" name="resposta" value={{check_opcao}}">
                            </label>
                          {% endif %}
                        {% endfor %}
                    </fieldset>
                </li>
              
            </ul>            
            <input type="submit" value="Salvar" name="save" />            
          </div>
        </form>
        <form action="/limparBanco" method='POST'>              
              <input type='submit' value='Eliminar registros' name='delete' />
        </form>          
        <br>     
      </div>
    </section>
  </body>
</html>